asttokens
backcall
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
filelock
Flask
fonttools
fsspec
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
parso
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
py-cpuinfo
Pygments
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
requests
scipy
seaborn
six
stack-data
sympy
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp
